certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
et_xmlfile==2.0.0
fuzzywuzzy==0.18.0
gitdb==4.0.12
GitPython==3.1.46
idna==3.11
iniconfig==2.3.0
jellyfish==1.2.1
joblib==1.5.2
Levenshtein==0.27.3
line_profiler==5.0.0
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pluggy==1.6.0
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg2==2.9.11
py4j==0.10.9.9
Pygments==2.19.2
pyspark==4.1.1
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-Levenshtein==0.27.3
pytz==2025.2
RapidFuzz==3.14.3
recordlinkage==0.16
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.3
six==1.17.0
smmap==5.0.2
thefuzz==0.22.1
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==2.6.1
